 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/10bc1944-71a8-41c1-8cb5-3c2d909248e6.png');
  min-height: 100vh;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }
} .u-section-2 {
  background-image: url("//images01.nicepage.com/0adb40c16704efee5e7da3fb/89acae7e9972572389cc8d17/ae89bd89-09ad-40e0-8c8c-686f4e57b1e4.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
} .u-section-4 {
  background-image: url("images/1025191_medium2000.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50.63% 50%;
  }
}